@model VeganPlanner.Models.Item

@{
    ViewData["Title"] = "Details";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RecipeID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RecipeID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServingSize)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServingSize) @Html.DisplayFor(model => model.ServingUnits)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CaloriesPerServing)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CaloriesPerServing)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProteinPerServing)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProteinPerServing)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsPantryItem)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsPantryItem)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsGF)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsGF)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsRecipe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsRecipe)
        </dd>
    </dl>
</div>

@if (Model.IsRecipe)
{
    <div id="recipe-info">
        <p class="lead">@Html.DisplayFor(model => model.recipe.Notes)</p>
        <p class="lead">Servings: @Html.DisplayFor(model => model.recipe.Servings)</p>
        <h3>Ingredients: </h3>
        <ul>
            @foreach (var ingredient in Model.recipe.Ingredients)
            {
                <li>@Html.DisplayFor(ingredientitem => ingredient.Quantity) @Html.DisplayFor(ingredientitem => ingredient.Units) @Html.DisplayFor(ingredientitem => ingredient.item.Name) </li>
            }        
        </ul>
        <hr />
        <h3>Instructions: </h3>
        <ol>
            @foreach(var step in Model.recipe.Instructions)
            {
                <li>@Html.DisplayFor(stepitem => step.Description)</li>

            }
        </ol>
        <hr />
        
    </div>

}


<div>
    <a asp-action="Edit" asp-route-id="@Model.ItemID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
