@model VeganPlanner.Models.Item

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Item x</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ItemID" />
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ServingSize" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ServingSize" class="form-control" />
                <span asp-validation-for="ServingSize" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ServingUnits" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ServingUnits" class="form-control" />
                <span asp-validation-for="ServingUnits" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Category" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Category" class="form-control" id="sel1">
                    <option>Protein</option>
                    <option>Raw Protein</option>
                    <option>Veggies</option>
                    <option>Fruits</option>
                    <option>Sauces</option>
                    <option>Milks/Creamers</option>
                    <option>Canned Goods</option>
                    <option>Grains/Flour</option>
                    <option>Condiments</option>
                    <option>Herbs & Spices</option>
                    <option>Nuts & Oils</option>
                    <option>Sweeteners</option>
                </select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CaloriesPerServing" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CaloriesPerServing" class="form-control" />
                <span asp-validation-for="CaloriesPerServing" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ProteinPerServing" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ProteinPerServing" class="form-control" />
                <span asp-validation-for="ProteinPerServing" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input id="recipecheck" asp-for="IsRecipe" />
                    <label asp-for="IsRecipe"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="IsPantryItem" />
                    <label asp-for="IsPantryItem"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="IsGF" />
                    <label asp-for="IsGF"></label>
                </div>
            </div>
        </div>
        <hr/>
        <div id="recipe-info">
            @if (Model.recipe != null)
            {<!--If we are editing an existing recipe-->
                <div>
                    @Html.LabelFor(m => m.recipe.Notes)
                    <br />
                    @Html.TextAreaFor(model => model.recipe.Notes, new { Style = "width:300px;", Class = "form-control" })
                </div>
                <br />
                <div>
                    @Html.LabelFor(m => m.recipe.Servings)
                    <br />
                    @Html.EditorFor(model => model.recipe.Servings, new { Class = "form-control" })
                </div>
                <br />

                @Html.LabelFor(m => m.recipe.Ingredients)
                <div id="new-ingredient">
                    @foreach (var ingredient in Model.recipe.Ingredients)
                    {
                        Html.RenderPartial("IngredientPartial", ingredient);
                    }
                </div>
                <br />
                <div>
                    <input type="button" id="addingredient" name="addingredient" value="Add Ingredient" />
                    <br />
                </div>
            }
            else
            {<!--If we are creating a new recipe-->
                    <p class="lead">Recipe Details: </p>
                    <div class="form-group">
                        <label asp-for="recipe.Notes" class="col-md-3 control-label"></label>
                        <div class="col-md-8">
                            <input asp-for="recipe.Notes" class="form-control input-group-lg" />
                            <span asp-validation-for="recipe.Notes" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="recipe.Servings" class="col-md-3 control-label"></label>
                        <div class="col-md-8">
                            <input asp-for="recipe.Servings" class="form-control input-group-lg" />
                            <span asp-validation-for="recipe.Servings" class="text-danger"></span>
                        </div>
                    </div>


            }
        </div> <!--Recipe Group-->


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");

        <script type="text/javascript">
                    $('#addingredient').on('click', function () {
                        $.ajax({
                            async: false,
                            url: '/Items/AddNewIngredient'
                        }).success(function (partialView) {
                            $('#new-ingredient').append(partialView);
                        });
                    });

        </script>

        <script type="text/javascript">
            var checkbox = document.getElementById('recipecheck');
            var delivery_div = document.getElementById('recipe-info');
            var showHiddenDiv = function () {
                if (checkbox.checked) {
                    delivery_div.style['display'] = 'inline';
                } else {
                    delivery_div.style['display'] = 'none';
                }
            }
            checkbox.onclick = showHiddenDiv;
            showHiddenDiv();
        </script>

    }
}
